# Variables for MariaDB/MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=myapp
MYSQL_USER=myuser
MYSQL_PASSWORD=mypassword

# Variables for phpMyAdmin
PMA_HOST=mariadb
PMA_USER=root
PMA_PASSWORD=rootpassword

# Variables for Redis
REDIS_PASSWORD=redispassword